<!DOCTYPE html>
<html lang="pt"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout-padrao}">
<head>
    <script type="text/javascript" th:src="@{/js/carrinho.js}"></script>
</head>
<body>
<section layout:fragment="conteudo" class="section-content padding-y">
    <div class="container">
        <div class="row">
            <main class="col-md-9">
                <form onsubmit="return finalizarCompra();" th:action="@{/}" th:method="GET">
                    <div class="card">

                        <table id="carrinho-produtos" class="table table-borderless table-shopping-cart">
                            <thead class="text-muted">
                            <tr class="small text-uppercase">
                                <th scope="col">Produto</th>
                                <th scope="col" width="120">Quantidade</th>
                                <th scope="col" width="120">Preço</th>
                                <th scope="col" class="text-right" width="200"></th>
                            </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>

                        <div class="card-body border-top">
                            <a href="/" class="btn btn-light"> <i class="fa fa-chevron-left"></i> Continuar Comprando
                            </a>
                            <button type="submit" class="btn btn-primary float-md-right"> Finalizar Compra <i
                                    class="fa fa-chevron-right"></i>
                            </button>
                        </div>
                    </div> <!-- card.// -->


            </main> <!-- col.// -->
            <aside class="col-md-3">
                <div class="card mb-3">
                    <div class="card-body">
                        <form>
                            <div class="form-group">
                                <label>Tem Cupom de desconto?</label>
                                <div class="input-group">
                                    <input type="text" class="form-control" name="" placeholder="código do cupom">
                                    <span class="input-group-append">
							<button class="btn btn-primary">Aplicar</button>
						</span>
                                </div>
                            </div>
                        </form>
                    </div> <!-- card-body.// -->
                </div>  <!-- card .// -->
                <div class="card">
                    <div class="card-body">
                        <dl class="dlist-align">
                            <dt>Total:</dt>
                            <dd class="text-right h5" id="total"><strong></strong></dd>
                        </dl>
                        <hr>
                    </div> <!-- card-body.// -->
                </div>  <!-- card .// -->
            </aside> <!-- col.// -->
        </div>
    </div>

</section>

<footer class="footer border-top bg">
    <div class="container">

        <section class="footer-bottom row">
            <div class="col-md-2">
                <p class="text-muted"> © 2019 Eco </p>
            </div>
            <div class="col-md-8 text-md-center">
                <span class="px-2">atendimento@ecomerce.com.br</span>
                <span class="px-2">+55-46-991085937</span>
                <span class="px-2">Av Tupi 123</span>
            </div>
            <div class="col-md-2 text-md-right text-muted">
                <i class="fab fa-lg fa-cc-visa"></i>
                <i class="fab fa-lg fa-cc-paypal"></i>
                <i class="fab fa-lg fa-cc-mastercard"></i>
            </div>
        </section>
    </div>
</footer>

</body>
</html>
